fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
httpx
loguru

streamlit
requests

langchain
langgraph
langchain-groq

chromadb
numpy
scikit-learn

pypdf
python-docx
pdfplumber
pymupdf

sentence-transformers
orjson
python-dotenv
docusign-esign
sendgrid
